scholarly
certifi
fastapi
requests
elasticsearch
uvicorn
tiktoken
matplotlib
plotly
pandas
scipy
scikit-learn
pytest
sentence-transformers

openai

azure-identity==1.12.0
langchain
azure-search-documents==11.4.0b3
